<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- loading a properties file -->
	<context:property-placeholder location="classpath:teamSpecs"/>
   
    <!-- Defining beans to be injected -->
    <bean id="happyFortune" class="com.spring.simple.HappyFortuneService"></bean>
    <bean id="randomFortune" class="com.spring.simple.RadnomFortuneService"></bean>
    
    <!-- Injected via setter method -->
    <bean id="trackCoach" class="com.spring.simple.coaches.TrackCoach">
    	<property name="fortuneService" ref="randomFortune"></property>
    </bean>
    
    <!-- Injected using constructor argument -->
    <bean id="baseballCoach" class="com.spring.simple.coaches.BaseballCoach">
    	
    	<constructor-arg ref="happyFortune"></constructor-arg>
    	
    	<!-- injecting literal values via setter methods -->
    	<property name="baseballTeamName" value="${baseballTeam}"></property>
    	<property name="teamColor" value="${teamColor}"></property>
    </bean>
</beans>





